<html>
    <head>

    </head>
    <body>
        <h1>OIDC Redirect Result</h1>
        <div><label>Code:&nbsp;</label><span><%= body.code %></span></div>
        <div><label>State:&nbsp;</label><span><%= body.state %></span></div>
        <div><label>Issuer:&nbsp;</label><span><%= body.iss %></span></div>
        <div><label>Acces Token:&nbsp;</label><span><%= data.access_token %></span></div>
        <div><label>Expires In:&nbsp;</label><span><%= data.expires_in %></span></div>
        <div><label>Token:&nbsp;</label><span><%= data.id_token %></span></div>
        <div><label>Scope:&nbsp;</label><span><%= data.scope %></span></div>
        <div><label>Token Type:&nbsp;</label><span><%= data.token_type %></span></div>
    </body>
</html>